# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
env/
venv/

# Downloads and cache
downloads/
cache/

# Users data
users.json

# Logs and temporary files
*.log
*.tmp

# OS system files
.DS_Store
Thumbs.db
favicon.ico

# Cookies folder
cookies.txt
