# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.sqlite3
*.log

# Virtual Environment
venv/
.env/
.venv/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# yt-dlp downloads
*.webm
*.mp3
*.m4a
*.aac
*.ogg
*.opus

# Render & deployment
*.cache/
