# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
env/
venv/

# Project directories
downloads/
cache/
cookies/*.txt

# User data / state
users.json

# Logs and temp files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db
favicon.ico

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
